@model DBlinq.Sys_Menu
@{
    ViewBag.Title = "MenuManager_Edit";
    Layout = "~/Views/Shared/_LayoutMainTwo.cshtml";
}
@section head2{
    <script type="text/javascript" src="@Url.Content("~/Javascripts/System/MenuManager_Edit.js")"></script>
}
<div region="center" border="false" class="content-center">
    <div class="btn-bar">
        <button class="btn-back" type="button" onclick="BaseBackPage('新增菜单','菜单管理','/System/CommonSearch/MenuManager');">返回</button>
        <button class="btn-sub" type="submit" onclick="Save()">保存</button>
    </div>
    <h3 class="title">填写信息</h3>
    <form id="fm" action="javascript:;">
        @Html.HiddenFor(c => c.Id)
        <table class="tb-edit" border="0" cellpadding="4" cellspacing="0" width="50%">
            <tr>
                <td width="20%">
                    <label class="item-th">
                        名称</label>
                </td>
                <td width="80%">
                    @Html.TextBoxFor(c => c.Name, new { @class = "text validate[required,maxSize[200]]", style = "width: 40%" })
                </td>
            </tr>
        </table>
        <table class="tb-edit" border="0" cellpadding="4" cellspacing="0" width="50%">
            <tr>
                <td width="20%">
                    <label class="item-th">
                        属于</label>
                </td>
                <td width="80%">
                    @Html.DropDownListFor(c => c.ParentId, (SelectList)ViewBag.dropType, new {@class = "text", style = "width: 20%;height:22px"})
                </td>
            </tr>
        </table>
        <table class="tb-edit" border="0" cellpadding="4" cellspacing="0" width="50%">
            <tr>
                <td width="20%">
                    <label class="item-th">
                        排序序列</label>
                </td>
                <td width="80%">
                    @Html.TextBoxFor(c => c.Sort, new { @class = "text validate[custom[integer]]", style = "width: 10%" })
                </td>
            </tr>
        </table>
        <table class="tb-edit" border="0" cellpadding="4" cellspacing="0" width="50%">
            <tr>
                <td width="20%">
                    <label class="item-th">
                        路径</label>
                </td>
                <td width="80%">
                    @Html.TextBoxFor(c => c.Url, new { @class = "text validate[required,maxSize[200]]", style = "width: 80%" })
                </td>
            </tr>
        </table>
        <table class="tb-edit" border="0" cellpadding="4" cellspacing="0" width="50%">
            <tr>
                <td width="20%">
                    <label class="item-th">
                        控制器</label>
                </td>
                <td width="80%">
                    @Html.TextBoxFor(c => c.Controller, new { @class = "text validate[required,maxSize[200]]", style = "width: 40%" })
                </td>
            </tr>
        </table>
        <table class="tb-edit" border="0" cellpadding="4" cellspacing="0" width="50%">
            <tr>
                <td width="20%">
                    <label class="item-th">
                        方法</label>
                </td>
                <td width="80%">
                    @Html.TextBoxFor(c => c.Action, new { @class = "text validate[required,maxSize[200]]", style = "width: 40%" })
                </td>
            </tr>
        </table>
        <table class="tb-edit" border="0" cellpadding="4" cellspacing="0" width="50%">
            <tr>
                <td width="20%">
                    <label class="item-th">
                        图标</label>
                </td>
                <td width="80%">
                    @Html.TextBoxFor(c => c.Iconic, new { @class = "text validate[maxSize[200]]", style = "width: 40%" })
                </td>
            </tr>
        </table>
        <table class="tb-edit" border="0" cellpadding="4" cellspacing="0" width="50%">
            <tr>
                <td width="20%">
                    <label class="item-th">
                        备注</label>
                </td>
                <td width="80%">
                    @Html.TextBoxFor(c => c.Remark, new { @class = "text validate[maxSize[4000]]", style = "width: 60%" })
                </td>
            </tr>
        </table>
        <table class="tb-edit" border="0" cellpadding="4" cellspacing="0" width="50%">
            <tr>
                <td width="20%">
                    <label class="item-th">
                        状态</label>
                </td>
                <td width="80%">
                    @Html.DropDownListFor(c => c.State, new[]
                        {
                            new SelectListItem{Text="启用",Value="0"},
                            new SelectListItem{Text="禁用",Value="1"}
                        }, new { @class = "text", style = "width: 20%;height:22px" })
                </td>
            </tr>
        </table>
        
    </form>

    <div class="btn-bar" style="margin-top: 50px">
        <button class="btn-back" type="button" onclick="BaseBackPage('新增菜单','菜单管理','/System/CommonSearch/MenuManager');">返回</button>
        <button class="btn-sub" type="submit" onclick="Save()">保存</button>
    </div>
</div>
