@model DBlinq.Sys_Role
@{
    ViewBag.Title = "Role_Add";
    Layout = "~/Views/Shared/_LayoutMainTwo.cshtml";
}
@section head{
    <script src="@Url.Content("~/Javascripts/System/Role_Add.js")"></script>
}
<div region="center" class="content-center" border="false">
    <form id="fm" action="javascript:;" method="post">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Pid)
        @Html.HiddenFor(model => model.Fid)
        <div class="btn-bar">
            <button class="btn-back" type="button" onclick=" BackPage();">返回</button>
            <button class="btn-sub" type="button" onclick="Save()">保存</button>
        </div>
        <h3 class="title">角色信息</h3>
        <div>
            <table class="tb-edit">
                <tr>
                    <td>
                        <label class="item-th">角色名</label></td>
                    <td>@Html.TextBoxFor(model => model.RoleName, new { @class = "text validate[required,maxSize[20]]", style = "width:40%" })
                    </td>

                </tr>
                <tr>
                    <td>
                        <label class="item-th">管理员角色</label></td>
                    <td>
                       @Html.CheckBoxFor(c=>c.IsSystem)
                    </td>
                </tr>
            </table>
        </div>
        <h3 class="title">权限信息</h3>
        <div>
            <table class="tb-edit">
                <tbody>
                    <tr>
                        <td>
                            <label class="item-th">权限树</label></td>
                        <td>
                            <ul id="pTree"></ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btn-bar">
            <button class="btn-back" type="button" onclick=" BackPage();">返回</button>
            <button class="btn-sub" type="button" onclick="Save()">保存</button>
        </div>
    </form>
</div>