@model DBlinq.Sys_Password
@{
    ViewBag.Title = "密码维护";
    Layout = "~/Views/Shared/_LayoutMainTwo.cshtml";
}
@section head{
<script type="text/javascript" src="@Url.Content("~/Res/plugs/DES.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Javascripts/Content/Pwd_Add.js")"></script>
}
<div region="center" class="content-center" border="false">
    <form id="fm" action="javascript:;">
        @Html.HiddenFor(c => c.Id)
        <input type="hidden" id="UserToken" value="@ViewBag.UserToken" />
        <div class="btn-bar">
            <button class="btn-back" type="button" onclick=" BackPage();">返回</button>
            <button class="btn-sub" type="button" onclick="Save()">保存</button>
        </div>
        <h3 class="title">文本信息</h3>
        <div>
            <table class="tb-edit" style="width: 100%">
                <tr>
                    <td>
                        <label class="item-th">名称</label>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Name, new { @class = "text validate[required,maxSize[40]]", style = "width:300px" })
                    </td>

                </tr>
                <tr>
                    <td>
                        <label class="item-th">用户名</label>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.UserName, new { @class = "text validate[required,maxSize[50]]", style = "width:300px" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="item-th">密码</label>
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.Password, new { @class = "text validate[required,maxSize[50]]", style = "width:300px" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="item-th">确认密码</label>
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.Password, new { @class = "text validate[maxSize[50],equals[Password]]", style = "width:300px",id= "Password2" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="item-th">备注</label>
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.Remark, new { @class = "text validate[maxSize[200]]", style = "width:300px;height:60px;resize:none" })
                    </td>
                </tr>
            </table>
        </div>
        <div class="btn-bar">
            <button class="btn-back" type="button" onclick=" BackPage();">返回</button>
            <button class="btn-sub" type="button" onclick="Save()">保存</button>
        </div>
    </form>
</div>
